/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014年2月1日, 下午04:01:51
    Author     : Raymond Yuen
*/
.row {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
header{
    width:940px;
    display: block;
    overflow: hidden;
}
#site_logo {
    float: left;
    margin: 8px 8px 0 0;

}
#site_logo a {
    text-decoration: none;
    margin: 8px 8px 0 0;
    color: cornflowerblue;
}
#page_name{
    position:absolute;
    top:2em;
    float:left;
}
#site_name {
    float: left;
    padding-top: 50px;
}
#loginOut{
    margin-top: 0.5em;
    float:right;
}
body{
    margin:0.5em auto;
    padding: 0.5em auto;
    width:960px;
}   
article{
    padding:0.5em;
}
form {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 620px;
    margin:0.5em auto;
    padding: 0.5em auto;
}
label {
    min-width: 6.5em;
    margin-right: 0.2em;
    display: inline-block;
    text-align: left;
}
input {
    min-width: 18em;
    display: block;
    margin: 0.25em 0.1em; 
}
.btn {
    width: auto;
}
#page_name{
    position: absolute;
    top:2em;
    float:left;
}


